
html, body {
    background-color: rgb(173, 216, 230);
}

.jumbotron {
    background-color: burlywood;
}

.well {
    background-color: burlywood;
    margin-top: 10px;
}
.jumbotron h1 {
    font-family: fantasy;
}
